{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watchlist</h1>
  
    
    <div class = "row mx-3">
    {% for listing in listings %}
    <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src="{{ listing.ImageUrl }}" alt="Card image cap" style = "height: 130px; width: 300px">
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <p class="card-text">{{ listing.description }}</p>
          <h6>{{ listing.price }}fcfa</h6>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}